:root {
  --main-title-color: #323232;
  --second-title-color: #ffffff;
  --main-bg-color: #e5e5e5;
  --main-text-color: #999999;
  --second-text-color: #ffffff;
  --accent-color: #4985ff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.56;
  color: var(--main-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.48;
}
.header {
  background-color: grey;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--second-text-color);
}
.button {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--accent-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: transparent;
  border: 1px solid var(--accent-color);
}
.hero {
  background-color: gray;
}
.hero-text {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
.hero-title {
  color: var(--second-title-color);
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
}

/* MOBILE */
.mobile-title {
  color: var(--main-title-color);
  text-align: center;
}

.mobile-text {
  text-align: center;
}
.mobile-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}
.mobile-item-text {
  font-size: 14px;
}
/* STANDARTS */
.standarts-title {
  color: var(--main-title-color);
}
.standarts-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.standarts-link:hover,
.standarts-link:focus {
  color: yellowgreen;
}
.standarts-item-digit {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}

/* WORKS */

.works {
  background-color: violet;
}

.works-title {
  color: var(--second-title-color);
}
.works-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;

  color: #000000;
}

.works-item-title span {
  color: #4985ff;
}

.works-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}
